@model Telefon

@{
    ViewData["Title"] = "Görüntüe Kurs";
}


<title></title>

<style>
    .imageThumbnail {
        max-width: 200px; /* Maksimum genişlik */
        max-height: 400px; /* Maksimum yükseklik */
    }
</style>

<div class="container shadow p-5" style="width:50rem;">
    <h1 class="text-center"><b>Kurs Bilgi</b></h1>

    <form method="post" asp-action="Görüntüle">
        <input asp-for="Id" hidden />
        <div class="card shadow p-3">
            <div class="card-body">
                <!-- Resim ekleme kısmı -->
                <div class="card-body text-center">
                    <img class="card-img-top imageThumbnail" src="~/images/@(Model.PhotoPath ?? "noimage.jpg")" asp-append-version="true" />
                </div>


                <a><h3 class="card-title text-center">@Model.Model</h3></a>
                <hr />
                <h6 class="card-text"><strong>Açıklaması: </strong>@Model.Ekran</h6>
                <hr />
                <h6 class="card-text"><strong>Kategorisi: </strong>@Model.İşlemci</h6>
                <hr />
                <h6 class="card-text"><strong>Öğretmeni: </strong>@Model.Kamera</h6>
                <hr />
                <h6 class="card-text"><strong>Süresi: </strong>@Model.Renk</h6>
                <hr />
                <h6 class="card-text"><strong>Fiyat: </strong>@Model.Fiyatı</h6>

            </div>
        </div>
    </form>
    <br />

    <a asp-action="Index" type="button" class="btn btn-dark">Listeye Geri Dön</a>
</div>
